# Project
public/*
!public/index.html
!public/assets/

# macOS
.DS_Store

# Misc
*.log
*.tmp
*.swp
*.swo
*.bak
*.old
*~

# Node
node_modules/
dist/
build/
.cache/
npm-debug.log*
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo
tsconfigs.tsbuildinfo
